language: php

git:
  depth: 1

cache:
  directories:
    - $HOME/.cache/composer
    - $HOME/.composer/cache

php:
  - 7.1
  - 7.2

install:
  - composer install

after_success:
  - composer scrutinizer

script:
  - composer grumphp
